<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet"/>
</head>
<body>
<!--<h1 th:text="${isAdd}? 'Add Article':'Update Article'">add plz</h1>-->
<!--<a href="/">Back home</a>-->
<!--<form th:action="${isAdd}? '/add':'/update'"  method="post" >-->
<!--ID <input type="text" th:field="${article.id}"><span th:if="${#fields.hasErrors('article.id')}" style="color:red">This field is required</span> </br>-->
<!--Title <input type="text" th:field="${article.title}"><span th:if="${#fields.hasErrors('article.title')}" style="color:red">This field is required</span> </br>-->
<!--Description <input type="text" th:field="${article.description}"> <span th:if="${#fields.hasErrors('article.description')}" style="color:red">This field is required</span></br>-->
<!--Author <input type="text" th:field="${article.author}"><span th:if="${#fields.hasErrors('article.author')}" style="color:red">This field is required</span> </br>-->
<!--<input type="submit" th:value="${isAdd}? 'submit':'update'">-->
<!--</form>-->


<div th:replace="fragments/header::header"></div>

<div class="container">
    <div class="row flex-center m-3">
        <div class="col-md-6 col-sm-6 col-6">
            <h1 class="title text-center" th:text="${isAdd}? #{btn-article-management}:#{update_article}"></h1>
            <a class="btn btn-danger m-2" href="/" th:text="#{btn-back}"></a>
            <!-- Material form group -->
            <form th:action="${isAdd}? '/add':'/update'" method="post" enctype="multipart/form-data">
                <!-- Material input -->
                <div class="md-form">
                    <input type="text" id="id" class="form-control" readonly th:field="${article.id}"><span
                        th:if="${#fields.hasErrors('article.id')}" style="color:red">This field is required</span>
                    <label for="id">ID</label>
                </div>
                <!-- Material input -->
                <div class="md-form">
                    <input type="text" id="title" class="form-control" th:field="${article.title}"><span
                        th:if="${#fields.hasErrors('article.title')}" style="color:red">This field is required</span>
                    <label for="title">Title</label>
                </div>

                <div class="md-form">
                    <input type="text" id="description" class="form-control" th:field="${article.description}"><span
                        th:if="${#fields.hasErrors('article.description')}"
                        style="color:red">This field is required</span>
                    <label for="description">Description</label>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label for="description" th:text="#{category}"></label>
                    </div>
                    <div class="col-md-5">

                        <!--<div class="md-form ">-->

                        <select th:field="${article.category.category_id}"  class="custom-select custom-select-sm">
                                <option th:each="categories:${category}"
                                        th:text="${categories.category_name}" th:value="*{categories.category_id}"></option>
                        </select>
                        <!--</div>-->
                    </div>
                </div>

                <div class="md-form">
                    <input type="text" id="author" class="form-control" th:field="${article.author}"><span
                        th:if="${#fields.hasErrors('article.author')}" style="color:red">This field is required</span>
                    <label for="author">Author</label>
                </div>

                <div class="file-field text-center">
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-mdb-color btn-rounded float-left">
                            <span>Add photo</span>
                            <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg">

                        </div>
                    </div>
                </div>

                <div class="md-form text-center">
                    <input class="btn btn-primary " type="submit" th:value="${isAdd}? #{btn-add}:#{btn-update}">
                </div>


            </form>
            <!-- Material form group -->
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script src="js.js"></script>
</body>
</html>