<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet"/>

</head>
<body>
<div th:replace="fragments/header::header"></div>


<div class="container">
    <div class="row flex-center">
        <div class="col-md-12 col-sm-12 col-12 ">
            <h1 th:text="#{article-management}"></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
            <a class="btn btn-light m-2" href="/add" th:text="#{btn-article-management}">Add new Article</a>
        </div>

        <!--error while using it with pagination -->

        <div class="col-md-6 col-sm-6 col-6">
            <form action="/">
                <div class="md-form input-group">
                    <div class="input-group-prepend">
                        <div class="input-group md-form form-sm form-2 pl-0">
                            <input class="form-control my-0 py-1 red-border" th:field="${filter.article_title}"
                                   type="text"
                                   placeholder="Search"
                                   aria-label="Search">
                            <input type="submit" hidden="true"/>
                            <div class="input-group-append">
                <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
                                                                                    aria-hidden="true"></i></span>
                            </div>
                            <div class="ml-3">
                                <select th:field="${filter.category_id}" class="custom-select custom-select-sm">
                                    <option th:value="null">All</option>
                                    <option th:each="category:${categories}"
                                            th:text="${category.category_name}"
                                            th:value="${category.category_id}"></option>
                                </select>
                            </div>
                        </div>
                        <!-- Basic dropdown -->

                        <!-- Basic dropdown -->
                    </div>
                </div>
            </form>
        </div>

    </div>

    <table class="table m-3">
        <thead>
        <tr class="bg-primary text-white">
            <th scope="col" th:text="#{art-id}">ID</th>
            <th scope="col" th:text="#{art-title}">Title</th>
            <th scope="col" th:text="#{art-desc}">Description</th>
            <th scope="col" th:text="#{art-author}">Author</th>
            <th scope="col" th:text="#{category}">Category</th>
            <th scope="col" th:text="#{art-date}">Create Date</th>
            <th scope="col" th:text="#{art-photo}">Photo</th>
            <th scope="col" th:text="#{art-action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article:${articles}" th:object="${article}">
            <th th:text="*{id}">ID</th>
            <td th:text="*{title}">Title</td>
            <td th:text="*{description}">Description</td>
            <td th:text="*{author}">Author</td>
            <td th:text="*{category.category_name}">Author</td>
            <td th:text="*{createdDate}">Create Date</td>
            <td>
                <a th:href="@{/view/{id}(id=*{id})}">
                    <img src="https://www.eguardtech.com/wp-content/uploads/2018/08/Network-Profile.png"
                         th:src="'/images/'+*{url}"
                         th:width="30" th:high="30" class="img-fluid rounded-circle" alt="photo">
                </a>
            <td>
                <a th:href="@{/view/{id}(id=*{id})}"><i class="far fa-eye m-1"></i></a>
                <a th:href="@{/delete/{id}(id=*{id})}"><i class="far fa-trash-alt m-1"></i> </a>
                <a th:href="@{/update/{id}(id=*{id})}"><i class="fas fa-pencil-alt m-1"></i></a>
            </td>

        </tr>

        </tbody>
    </table>

    <div class=" row d-flex justify-content-center">
        <div class=" col-md-5 col-sm-5 col-5">
            <nav th:if="${page.totalCount}>10" th:remove="tag" aria-label="Page navigation example">
                <ul class="pagination pagination pg-blue pull-right">
                    <li class="page-item"><a class="page-link" title="First"
                           th:href="@{/(page=1, article_title=${filter.article_title}, category_id=${filter.category_id})}">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/(page=${page.previousPage}, article_title=${filter.article_title}, category_id=${filter.category_id})}"><span>&laquo;</span></a>
                    </li>

                    <!--looping page-->
                    <li th:each="i: ${#numbers.sequence(page.startPage, page.endPage)}" th:class="${page.page}==${i}? 'page-item active':'page-item'">
                        <a th:text="${i}" class="page-link"
                           th:href="@{/(page=${i}, article_title=${filter.article_title}, category_id=${filter.category_id})}">1</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" th:href="@{/(page=${page.nextPage}, article_title=${filter.article_title}, category_id=${filter.category_id})}"><span>&raquo;</span></a>
                    </li>
                    <li class="page-item"><a title="Last" class="page-link"
                           th:href="@{/(page=${page.totalPages}, article_title=${filter.article_title}, category_id=${filter.category_id})}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<!-- Footer -->

<div th:replace="fragments/footer::footer"></div>
<!-- Footer -->

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</body>
</html>