<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet"/>

</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="container" th:each="article:${article}">
    <div class="row flex-center m-3">
        <div class="col-md-6 col-sm-6 col-6">
            <div class="view overlay zoom">
                <a class="btn btn-danger m-2" href="/" th:text="#{btn-back}"></a>
                <img th:src="'/images/'+${article.url}" class="img-fluid rounded-circle" alt="photo">
                <!--<div class="mask flex-center waves-effect waves-light">-->
                <!--<p class="white-text">Zoom effect</p>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-5 mt-3 text-centered">
            <pre><strong th:text="#{art-title}"> : </strong> <span th:text="${article.title}"></span></pre>
            <pre><strong th:text="#{art-desc}">Description : </strong> <span th:text="${article.description}"></span></pre>
            <pre><strong th:text="#{art-author}">Author : </strong> <span th:text="${article.author}"></span></pre>
            <pre><strong th:text="#{category}">category : </strong> <span th:text="${article.getCategory().category_name}"></span></pre>
        </div>

    </div>

</div>
<div th:replace="fragments/footer::footer"></div>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</body>
</html>