<div class="filler-header" xmlns:th="http://www.thymeleaf.org" th:fragment="filter-header">
<div class="row">
    <div class="col-md-6 col-sm-6 col-6">
        <a class="btn btn-light m-2" href="/add" th:text="#{btn-article-management}">Add new Article</a>
    </div>

    <div class="col-md-6 col-sm-6 col-6">
        <form action="/">
            <div class="md-form input-group">
                <div class="input-group-prepend">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <input class="form-control my-0 py-1 red-border" th:field="${filter.article_title}"
                               type="text"
                               placeholder="Search"
                               aria-label="Search">
                        <input type="submit" hidden="true"/>
                        <div class="input-group-append">
                <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"
                                                                                    aria-hidden="true"></i></span>
                        </div>
                        <div class="ml-3">
                            <select th:field="${filter.category_id}" class="custom-select custom-select-sm">
                                <option th:each="category:${categories}"
                                        th:text="${category.category_name}"
                                        th:value="*{category.category_id}"></option>
                            </select>
                        </div>
                    </div>
                    <!-- Basic dropdown -->

                    <!-- Basic dropdown -->
                </div>
            </div>
        </form>
    </div>

</div>
</div>