﻿<!--Navbar -->
<div class="f-header" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg bg-primary text-white">
        <label class="navbar-brand text-white ml-5 title" th:text="#{article-management}"></label>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light text-white" href="/">
                        <i class="fas fa-home text-white"></i> <span th:text="#{home}"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light text-white" href="/category">
                        <i class="fas fa-bars"></i><span th:text="#{category}"></span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-globe-americas"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" th:href="@{''(lang='kh')}">ភាសាខ្មែរ</a>
                        <a class="dropdown-item" th:href="@{''(lang='kr')}">한국어</a>
                        <a class="dropdown-item" th:href="@{''(lang='en')}">English</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
</div>
<!--/.Navbar -->