<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet"/>
</head>
<body>
<!--<h1 th:text="${isAdd}? 'Add Article':'Update Article'">add plz</h1>-->
<!--<a href="/">Back home</a>-->
<!--<form th:action="${isAdd}? '/add':'/update'"  method="post" >-->
<!--ID <input type="text" th:field="${article.id}"><span th:if="${#fields.hasErrors('article.id')}" style="color:red">This field is required</span> </br>-->
<!--Title <input type="text" th:field="${article.title}"><span th:if="${#fields.hasErrors('article.title')}" style="color:red">This field is required</span> </br>-->
<!--Description <input type="text" th:field="${article.description}"> <span th:if="${#fields.hasErrors('article.description')}" style="color:red">This field is required</span></br>-->
<!--Author <input type="text" th:field="${article.author}"><span th:if="${#fields.hasErrors('article.author')}" style="color:red">This field is required</span> </br>-->
<!--<input type="submit" th:value="${isAdd}? 'submit':'update'">-->
<!--</form>-->


<div th:replace="fragments/header::header"></div>

<div class="container">
    <div class="row flex-center m-3">
        <div class="col-md-7 col-sm-8 col-9">
            <a class="btn btn-danger m-2" href="/" th:text="#{btn-back}"></a>
            <a class="btn btn-primary m-2" href="/addCategory" th:text="#{btn-article-categories}"></a>
            <table class="table m-3 " style="text-align:center">
                <thead>
                <tr class="bg-primary text-white">
                    <th scope="col" th:text="#{art-id}">ID</th>
                    <th scope="col" th:text="#{category}">Title</th>
                    <th scope="col" th:text="#{art-action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category:${categories}" th:object="${category}">
                    <th th:text="*{category_id}">ID</th>
                    <td th:text="*{category_name}">Title</td>
                    <td>
                        <a class="m-1" th:href="@{/deleteCategory/{id}(id=*{category_id})}"><i class="far fa-trash-alt m-1"></i> </a>
                        <a th:href="@{/updateCategory/{id}(id=*{category_id})}"><i class="fas fa-pencil-alt m-1"></i></a>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script src="js.js"></script>
</body>
</html>